include build.sh
include install_python.sh
include install_node.sh
include test.sh
include LICENSE
include readme.docx
include README.md
include apitax/ah/web/node/node/package.json
include apitax/ah/web/node/node/tsconfig.json
include apitax/ah/web/node/node/webpack.config.js
include apitax/ah/web/node/index.html
recursive-include apitax/ah/web/node/node/src *